{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NAMI Montana | Contact </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="http://webthemez.com" />
<!-- css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper" class="home-page">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left hidden-xs"><i class="fa fa-envelope"></i><span>matt@namimt.org </span></p>
        <p class="pull-right"><i class="fa fa-phone"></i>Tel No. (406) 443-7871</p>
      </div>
    </div>
  </div>
</div>
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo" width="190px" height="50px;"/></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="{% url 'users:login' %}">Login</a></li>
                            <li><a href="{% url 'users:signup' %}">SignUp</a></li>
                            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'users:profile' %}">Profile</a></li>
                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
	</header>
    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Contact Us</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3>Feel Free to Contact Us!</h3>
                        <p>If you have any query regarding our site, it's functionality and about our organization.You can put a message using contact form below.</p>
                        <p>Also, any feedback will be very appreciated.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Form itself -->
                    <form>
                        <h3>Contact Us</h3>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Your Name:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                   placeholder="Enter Your Name">
                            <small id="emailHelp" class="form-text text-muted">Enter your First and Last Name.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">Your Message:</label>
                            <textarea class="form-control" id="exampleTextarea" rows="8"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2741.7366596183624!2d-112.04031788501162!3d46.592443079130504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5343551eefaf7af5%3A0xc8f3d0c852cf5c50!2s555+Fuller+Ave+%233%2C+Helena%2C+MT+59601!5e0!3m2!1sen!2s!4v1507345689013"
                            width="550" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </section>
{% include 'footer.html' %}
